.character-status{
    padding-left:20px;
}

.character-data{
    margin-bottom:20px;
}

.delete-character{
    background-image:url(/app/images/deletered.png);
    background-repeat:no-repeat;
    background-size:contain;
    cursor:pointer;
    border:none;
    height:20px;
    width:20px;
}

.character-name-container{
    padding-top:7px;
}

.character-name{
    font-weight:bold;
    font-size:16px;
    padding-top:3px;
}

#initiative-tracker ul{
    padding-left:0px;
}

.character-data{
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/app/images/list-style-image.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}