<div id="combat-manager"  ng-controller="CombatManager">
        <div id="initiative-tracker" >
            <div id="initiative-tracker-title">Initiative Tracker</div>
            <ul>
                <li ng-repeat="character in characters track by $index | orderBy : '-initiative'">{{character.name}} - {{character.initiative}}</li>
            </ul>
            <div>Characters Length: {{characters.length}}</div>
            <div>Characters list: {{characters}}</div>
        </div>
</div>
<form ng-submit="addNewCharacter()" id="add-new-character">
    <div class="form-group">
        <label for="add-new-character-name">Name:</label>
        <input type="text" ng-model="newCharacterName" id="add-new-character-name" name="character-name"/>
    </div>
    <div class="form-group">
        <label for="add-new-character-initiative">Initiative:</label>
        <input type="number" ng-model="newCharacterInitiative" id=add-new-character-initiative" name="character-initiative"/>
    </div>
    <input type="submit" id="submit" value="Submit">
</form>