.form-control-label {
    padding: .75rem .5rem;
    margin-bottom: 0;
}

.monster-form-header{
    background-color: rgb(207,226,243);
}

.monster-form-separator{
    /*border-top:1px solid black;
    border-bottom:1px solid black;*/
    font-weight:bold;
    font-size:16px;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom:6px;
    margin-bottom:10px;
    font-family: 'Varela',sans-serif!important;
    background-color:rgb(207,226,243);
    text-align:left;
}

.attack-group-button{
   margin-bottom:15px;
}

.attack, .ability-description{
    margin-top:5px;
    margin-bottom:0px;
}

.attack-fields{
    margin-left:20px;
}
.add{
     background-image:url(/app/images/add.jpg);
     background-repeat:no-repeat;
     background-size:contain;
     cursor:pointer;
     border:none;
     height:20px;
     width:20px;
 }
.delete{
    background-image:url(/app/images/deletered.png);
    background-repeat:no-repeat;
    background-size:contain;
    cursor:pointer;
    border:none;
    height:20px;
    width:20px;
}