<!DOCTYPE html>
<html lang="en" ng-app="PathfinderManager">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pathfinder Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
   <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css">-->
    <link rel="stylesheet" href="css/hotkeys.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.css">
  <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">

        <div ng-controller="CombatManager" id=combat-manager class="col-xs-12"><!--Begin Main Combat Manager Section-->

        <div class="row" id="combat-manager-header"> <!--Begin Combat Manager Header - contains Title and Round Counter-->
            <div id="initiative-tracker-title" class="col-xs-3">
                <span>Combat Manager</span>
                <span><input type="button" id="start-combat-button" class="btn btn-primary" ng-click="startCombat()" value="Start Combat" /></span><!--Start Combat Button-->
            </div>
            <div id="round-counter" class="col-xs-9">
                <span><h2>Round : {{roundCounter}}</h2></span><!--Round Counter-->
            </div>
        </div><!--End Combat Manager Header-->
        <div class="row" id="combat-manager-content"><!--Begin Combat Manager Main Content - contains initiative tracker and character content-->
            <div class="col-xs-6" id="initiative-tracker"><!--Begin Initiative Tracker-->
                <div><h4>Initiative Tracker</h4></div>
                <ul ui-sortable="characterSort" ng-model="characterData" >
                    <li class="character-data" ng-repeat="character in characterData track by $index">
                        <span><input class="delete-character" type="button" ng-click="removeCharacterFromInitiative(character)" value=""></span><!--Delete button for Character-->
                        <span class="character-name">{{character.name}}</span> (HP: {{character.currentHp}})<!--Display Character Name for each character-->
                        <span><input type=number class="modify-hp-input" ng-model="character.hpDifference" ng-keydown="updateHp($event, character.hpDifference, character)"></span>
                        <ul class="character-statuses">
                            <li ng-repeat="status in character.statuses"><!--Display all statuses for each character-->
                                {{status.name}}: {{status.duration + 1}} more rounds
                            </li>

                            <li><!--Begin Form to add new status to current character-->
                                <div class="row" id="add-new-status">
                                    <div class="col-xs-12">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-xs-12">
                                                    <label for="add-new-status-name">Status Name:</label>
                                                    <input type="text" ng-model="newStatusName" id="add-new-status-name"  class="form-control" name="status-name"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-12">
                                                    <label for="add-new-status-duration">Status Duration:</label>
                                                    <input type="number" ng-model="newStatusDuration" id=add-new-status-duration class="form-control" name="status-duration"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <input type="button" ng-click="addStatusToCharacter($scope, $index)" value="Add Status" /><br/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li><!--End Form to add new status to current character-->
                        </ul>
                    </li>
                </ul>
            </div><!--End Initiative Tracker-->
            <div class="col-xs-6" id="combat-manager-main-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <input type="button" class="btn btn-primary" ng-click="nextInitiative()" value="Next Initiative" /><!--Button to move to next character in initiative order-->
                        </div>
                        <div class="row" id="content-manager-utilities">
                            <div class=col-xs-6 id="add-new-character"> <!--Begin form to add new character to initiative order-->
                                <div class="row"><h4>New Character</h4></div>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="add-new-character-name">Name:</label>
                                            <input type="text" ng-model="newCharacterName" id="add-new-character-name" class="form-control" name="character-name"/><!--Input new character name-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-6">
                                            <label for="add-new-character-initiative">Initiative:</label>
                                            <input type="number" ng-model="newCharacterInitiative" id=add-new-character-initiative class="form-control" name="character-initiative" value="0"/><!--Input new character initiative-->
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="add-new-character-hp">Hp:</label>
                                            <input type="number" ng-model="newCharacterHp" id=add-new-character-hp class="form-control" name="character-Hp" value="0"/><!--Input new character initiative-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="button" class="btn btn-primary" ng-click="addCharacterToInitiative()" value="Add Character" /><br/><!--Button to add character to initiative order-->
                                        </div>
                                    </div>
                                </form>
                            </div><!--End form to add new character to initiative order-->
                            <!--<script type="text/ng-template" id="addGroupStatus.html"><!--Begin form to add status to multiple characters
                                <div class="modal-header"><h4>Add Group Status:</h4></div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="">
                                                <label for="add-new-group-status-name">Status Name:</label>
                                                <input type="text" ng-model="newGroupStatusName" id="add-new-group-status-name"  class="form-control" name="status-name"/><!--Input new status name
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <label for="add-new-group-status-duration">Status Duration:</label>
                                                <input type="number" ng-model="newGroupStatusDuration" id=add-new-group-status-duration class="form-control" name="status-duration"/><!--Input new status duration
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="">
                                                <ul class="status-to">
                                                    <!--<label ng-repeat="character in data">-->
                            <!--<li ng-repeat="character in characterData"><!--Display checkbox list for all characters in initiative order
                                <input type="checkbox" checklist-model="charactersToAddStatuses"  checklist-value="character.statuses"> {{character.name}}
                            </li>
                        <!--</label>-
                    </ul>
                </div>
            </div>
            <div class="">
                <div class="">
                    <input type="button" class="btn btn-primary" ng-click="addGroupStatus()" value="Add" /><br/>
                </div>
            </div>
        </form>
    </div>
</script><!--End form to add status to multiple characters-->

                            <div class="col-xs-6" id="add-group-status"><!--Begin form to add status to multiple characters-->
                                <div class="row"><h4>Add Group Status:</h4></div>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="add-new-group-status-name">Status Name:</label>
                                            <input type="text" ng-model="newGroupStatusName" id="add-new-group-status-name"  class="form-control" name="status-name"/><!--Input new status name-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="add-new-group-status-duration">Status Duration:</label>
                                            <input type="number" ng-model="newGroupStatusDuration" id=add-new-group-status-duration class="form-control" name="status-duration"/><!--Input new status duration-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="status-to">
                                                <!--<label ng-repeat="character in data">-->
                                                <li ng-repeat="character in characterData"><!--Display checkbox list for all characters in initiative order-->
                                                    <input type="checkbox" checklist-model="charactersToAddStatuses"  checklist-value="character.statuses"> {{character.name}}
                                                </li>
                                                <!--</label>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="button" class="btn btn-primary" ng-click="addGroupStatus()" value="Add" /><br/>
                                        </div>
                                    </div>
                                </form>
                            </div><!--End form to add status to multiple characters-->
                        </div> <!--End Main Combat Manager Section -->
                    <h4 id="notes-header">Additional Notes:</h4>

                        <textarea id="notes" rows="30" ></textarea>
                    </div>
                </div>
                <!--<input type="button" class="btn btn-primary" ng-click="openAddGroupStatus()" value="Add Group Status" /><!--Button to open Add Group Status-->
            </div>
        </div><!--End Combat Manager Main Content-->




  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
            <script src="scripts/jquery-1.12.0.min.js"></script>
            <script src="scripts/jquery-ui.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="scripts/angular-animate.js"></script>
      <script src="app.js"></script>
      <script src="components/version/version.js"></script>
      <script src="components/version/version-directive.js"></script>
      <script src="components/version/interpolate-filter.js"></script>
      <script src="scripts/bootstrap.js"></script>
            <script src="scripts/mousetrap.min.js"></script>
            <script src="scripts/checklist-model.js"></script>
            <script src="scripts/hotkeys.js"></script>
            <script src="scripts/sortable.js"></script>
            <script src="scripts/ui-bootstrap-tpls-1.1.2.js"></script>
    </div>
    </div>
</div>
</body>
</html>
