<!DOCTYPE html>
<html lang="en" ng-app="PathfinderManager">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pathfinder Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/hotkeys.css">
  <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">

        <div ng-controller="CombatManager" id=combat-manager class="col-xs-12" ng-keypress="checkNextInitiative($event)">

        <div class="row" id="combat-manager-header">
            <div id="initiative-tracker-title" class="col-xs-3">
                <span>Combat Manager</span>
                <span><input type="button" id="start-combat-button" class="btn btn-primary" ng-click="startCombat()" value="Start Combat" /></span>
            </div>
            <div id="round-counter" class="col-xs-9">
                <span><h2>Round : {{roundCounter}}</h2></span>
            </div>
        </div>
        <div class="row" id="combat-manager-content">
            <div class="col-xs-4" id="initiative-tracker">
                <div><h4>Initiative Tracker</h4></div>
                <ul>
                    <li ng-repeat="character in data track by $index">{{character.name}} ({{character.initiative}})
                    <ul class="character-statuses">
                        <li ng-repeat="status in character.statuses">
                            {{status.name}}: {{status.duration + 1}} more rounds
                        </li>

                        <li>
                            <form id="add-new-status">
                                <div class="form-group">
                                    <label for="add-new-status-name">Status Name:</label>
                                    <input type="text" ng-model="newStatusName" id="add-new-status-name"  class="form-control" name="status-name"/>
                                </div>
                                <div class="form-group">
                                    <label for="add-new-status-duration">Status Duration:</label>
                                    <input type="number" ng-model="newStatusDuration" id=add-new-status-duration class="form-control" name="status-duration"/>
                                </div>
                                <input type="button" ng-click="addStatus($scope, $index)" value="Add Status" /><br/>
                            </form>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-8" id="combat-manager-main-content">
                <input type="button" class="btn btn-primary" ng-click="nextInitiative()" value="Next Initiative" /><br/>
            </div>
        </div>

        <div class="row" id="content-manager-utilities">
            <div class="col-xs-12">
                <div><h4>New Character</h4></div>
                <form id="add-new-character">
                    <div class="form-group">
                        <label for="add-new-character-name">Name:</label>
                        <input type="text" ng-model="newCharacterName" id="add-new-character-name" class="form-control" name="character-name"/>
                    </div>
                    <div class="form-group">
                        <label for="add-new-character-initiative">Initiative:</label>
                        <input type="number" ng-model="newCharacterInitiative" id=add-new-character-initiative class="form-control" name="character-initiative" value="0"/>
                    </div>
                    <input type="button" class="btn btn-primary" ng-click="addItem()" value="Add Character" /><br/>
                </form>
            </div>
        </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-route/angular-route.1111`js"></script>
      <script src="app.js"></script>
      <script src="components/version/version.js"></script>
      <script src="components/version/version-directive.js"></script>
      <script src="components/version/interpolate-filter.js"></script>
      <script src="scripts/jquery-1.12.0.min.js"></script>
      <script src="scripts/bootstrap.js"></script>
            <script src="scripts/mousetrap.min.js"></script>
            <script src="scripts/hotkeys.js"></script>
    </div>
    </div>
</div>
</body>
</html>
