<!DOCTYPE html>
<html lang="en" ng-app="PathfinderManager">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pathfinder Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
   <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css">-->
    <link rel="stylesheet" href="css/hotkeys.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.css">
  <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div ng-controller="CombatManager" id=combat-manager class="col-xs-12"><!--Begin Main Combat Manager Section-->

        <div class="row" id="combat-manager-header"> <!--Begin Combat Manager Header - contains Title and Round Counter-->
            <div id="initiative-tracker-title" class="col-xs-3">
                <span><h2>Combat Manager</h2></span>
            </div>
            <div id="round-counter" class="col-xs-9">
                <span><h2>Round : {{roundCounter}}</h2></span><!--Round Counter-->
            </div>
        </div><!--End Combat Manager Header-->
        <div class="row" id="combat-manager-utilities">
            <div class="col-xs-1">
                <h3>Utilities: </h3>
            </div>
            <div class="col-xs-11">
                <input type="button" id="start-combat-button" class="btn btn-success" ng-click="startCombat()" value="Start Combat" /><!--Start Combat Button-->
                <input type="button" class="btn btn-info" ng-click="toggleAddMainCharacters()" value="Add Main Characters"/> <!--Button to show add main character form-->
                <input type="button" class="btn btn-info" ng-click="toggleAddNewCharacterForm()" value="Add New Characters"/> <!--Button to show add new character form-->
                <input type="button" class="btn btn-info" ng-click="nextInitiative()" value="Next Initiative" /><!--Button to move to next character in initiative order-->
                <input type="button" class="btn btn-warning" ng-click="openAddGroupStatus()" value="Add Group Status"/><!--Button to add status to multiple characters-->
            </div>
        </div>
        <div class="row" id="add-new-character-form" ng-show="showAddNewCharacterForm">
            <div class="col-xs-3" id="add-new-character"> <!--Begin form to add new character to initiative order-->
                <div ><h4>New Character Group</h4></div>
                <form>
                    <div class="form-group row">
                        <div class="col-xs-8">
                            <label for="add-new-character-name">Name:</label>
                            <input type="text" ng-model="newCharacterName" id="add-new-character-name" class="form-control" name="character-name"/><!--Input new character name-->
                        </div>
                        <div class="col-xs-4">
                            <label for="add-new-character-count">Count:</label>
                            <input type="number" ng-model="newCharacterCount" id="add-new-character-count" class="form-control" name="character-count" value="1"/><!--Input new character name-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label for="add-new-character-initiative">Initiative:</label>
                            <input type="number" ng-model="newCharacterInitiative" id=add-new-character-initiative class="form-control" name="character-initiative" value="0"/><!--Input new character initiative-->
                        </div>
                        <div class="col-xs-6">
                            <label for="add-new-character-hp">Hp:</label>
                            <input type="number" ng-model="newCharacterHp" id=add-new-character-hp step="0.1" class="form-control" name="character-Hp" value="0"/><!--Input new character initiative-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="button" class="btn btn-primary" ng-click="addCharactersToInitiative(newCharacterName, newCharacterInitiative, newCharacterHp, newCharacterCount)" value="Add Characters" /><br/><!--Button to add character to initiative order-->
                        </div>
                    </div>
                </form>
            </div><!--End form to add new character to initiative order-->
        </div>

        <div class="row" id="add-main-characters" ng-show="showAddMainCharacters">
            <div class="col-xs-3"> <!--Begin form to add main characters to initiative order-->
            <div ><h4>Add Main Characters</h4></div>
                <div class="row main-character" ng-repeat="mainCharacter in mainCharacters">
                    <div class="col-xs-6"><b>{{mainCharacter}}</b></div>
                    <div class="col-xs-6"><input type=number class="form-control" ng-model="newCharacterInitiative" ng-keydown="addMainCharacter($event, mainCharacter, newCharacterInitiative)"></div>
                </div>
            </div><!--End form to add main characters to initiative order-->
        </div>

        <div class="row" id="combat-manager-content"><!--Begin Combat Manager Main Content - contains initiative tracker and character content-->
            <div class="col-xs-4" id="initiative-tracker"><!--Begin Initiative Tracker-->
                <ul ui-sortable="characterSort" ng-model="characterData" >
                    <li class="character-data" ng-repeat="group in characterData">
                        <div class="row">
                            <div ng-repeat="character in group.characters">
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-1"><!--Delete button for Character-->
                                            <input class="delete-character" type="button" ng-click="removeCharacterFromInitiative(group, character)" value="">
                                        </div>
                                        <div class="col-xs-6 character-name-container"><!--Display Character Name for each character-->
                                            <span class="character-name">{{character.name}}</span> ({{character.currentHp}})
                                        </div>
                                        <div class="col-xs-4">
                                            <input type=number class="modify-hp-input form-control hpDifferenceInput" placeholder="HP" ng-model="character.hpDifference" ng-keydown="updateHp($event, character.hpDifference, character)">
                                        </div>
                                    </div>
                                    <div class="row character-status" ng-repeat="status in character.statuses">
                                        <div class="col-xs-1"><!--Delete button for Status-->
                                            <input class="delete-character" type="button" ng-click="removeStatusFromCharacter(character, status)" value="">
                                        </div>
                                        <div class="col-xs-11">
                                            {{status.name}}: {{status.duration + 1}} rounds
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4"><!--Begin Form to add new status to current character-->
                                    <div class="row" id="add-new-status">
                                        <div class="col-xs-12">
                                            <form>
                                                <div class="form-group row">
                                                    <div class="col-xs-8">
                                                        <input type="text" ng-model="character.newStatusName" placeholder="New Status" id="add-new-status-name" ng-keydown="addStatusToCharacter($event, character)" class="form-control" name="status-name"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!--End Form to add new status to current character-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!--End Initiative Tracker-->
            <div class="col-xs-4" id="combat-manager-main-content">
                <div class=col-xs-12 ng-include="'MonsterDisplay/MonsterDisplay.html'"></div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class=col-xs-12 ng-include="'DiceRoller/DiceRoller.html'"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea id="notes" rows="10" placeholder="Additional Notes..."></textarea>
                    </div>
                </div>
            </div>


        </div><!--End Combat Manager Main Content-->

        <!--Modal Window for Adding Group Status-->
        <script type="text/ng-template" id="addGroupStatus.html">
            <div class="modal-header"><h4>Add Group Status:</h4></div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="add-new-group-status-name">Status Name:</label>
                        <input type="text" ng-model="newGroupStatusName" id="add-new-group-status-name" class="form-control" name="status-name"/>
                    </div>
                    <div class="form-group">
                        <label for="add-new-group-status-duration">Duration: </label>
                        <input type="text" ng-model="newGroupStatusDuration" id="add-new-group-status-duration" class="form-control" name="status-duration"/>
                    </div>
                </form>

                <div ng-repeat="group in characterData">
                    <ul class="status-to">
                        <li ng-repeat="character in group.characters">
                            <input type="checkbox" checklist-model="charactersToAddStatuses" checklist-value="character"/>{{character.name}}
                        </li>
                    </ul>
                </div>

                <button class="btn btn-primary" type="button" ng-click="addGroupStatus(newGroupStatusName, newGroupStatusDuration)">Add Status</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </script><!--End form to add status to multiple characters-->



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
        <script src="scripts/jquery-1.12.0.min.js"></script>
        <script src="scripts/jquery-ui.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="scripts/angular-animate.js"></script>
        <script src="scripts/angular-touch.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
        <script src="scripts/bootstrap.js"></script>
        <script src="scripts/mousetrap.min.js"></script>
        <script src="scripts/checklist-model.js"></script>
        <script src="scripts/hotkeys.js"></script>
        <script src="scripts/sortable.js"></script>
        <script src="scripts/ui-bootstrap-tpls-1.1.2.js"></script>

        <!--Begin Application Javascript Files-->
        <script src="app.js"></script>
            <script src="DiceRoller/DiceRoller.js"></script>
            <script src="MonsterService/MonsterService.js"></script>
            <script src="MonsterDisplay/MonsterDisplay.js"></script>
        <!--End Application Javascript Files-->
    </div>
    </div>
</div>
</body>
</html>
