
.roll-dice{
    margin-bottom:10px;
}

.show-breakdown-checkbox{
    margin-left:5px;
}

.dice-roll, .dice-total{
    margin-top:9px;
}

.dice-clear-all{
    margin-top:10px;
    margin-right:5px;
}

.dice-roller-headers{
    font-weight:bold;
}