<div class="row" >
    <div class="col-xs-12" id="combat-manager-dice-roller" ng-controller="MonsterDisplay">
        <div class="row" id="character-heading">
            <div class="col-xs-12">
                <b>{{currentMonster.name}}</b> - {{currentMonster.type}}
            </div>
        </div>
        <!--<div class="row" id="character-initiative">
            <div class="col-xs-12">
                <b>Initiative:</b> {{currentMonster.initiative}}
            </div>
        </div>-->
        <div class="row" id="character-senses">
            <div class="col-xs-12">
                <b>Senses:</b> {{currentMonster.senses}}
            </div>
        </div>
        <div class="row character-header">
            <div class="col-xs-12">
                Defence
            </div>
        </div>
        <div class="row" id="character-ac">
            <div class="col-xs-12">
                <b>AC:</b> {{currentMonster.AC}}
            </div>
        </div>
        <div class="row" id="character-hp">
            <div class="col-xs-12">
                <b>HP:</b> {{currentMonster.HP}}
            </div>
        </div>
        <div class="row" id="character-saves">
            <div class="col-xs-12">
                <b>Fort:</b> {{currentMonster.fortitude}}, <b>Ref:</b> {{currentMonster.reflex}}, <b>Will:</b> {{currentMonster.will}}
            </div>
        </div>
        <div class="row" id="character-defences">
            <div class="col-xs-12">
                <b>Defences:</b> {{currentMonster.defences}}
            </div>
        </div>
        <div class="row" id="character-CMD">
            <div class="col-xs-12">
                <b>CMD:</b> +{{currentMonster.CMD}}
            </div>
        </div>
        <div class="row character-header">
            <div class="col-xs-12">
                Attack
            </div>
        </div>
        <div class="row" id="character-speed">
            <div class="col-xs-12">
                <b>Speed:</b> {{currentMonster.speed}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <b>Melee:</b>
                <div class="character-attacks" ng-repeat="group in currentMonster.attacks">
                    <div class="row">
                        <div class="col-xs-12">
                            <i>{{group.groupName}}: </i>
                            <input type="button" class="roll-attack-group btn btn-secondary btn-sm" ng-click="rollAttack(group)" value="Attack" />
                        </div>
                    </div>
                    <div class="row" ng-repeat="attack in group.groupAttacks">
                        <div class="col-xs-6">{{attack.name}}
                            + {{attack.bonusToHit}} ({{attack.diceCount}}d{{attack.diceValue}}
                            + {{attack.diceBonus}}{{attack.additionalEffects != "" ?  " plus "+attack.additionalEffects : ""}})
                        </div>
                        <div ng-class="{'col-xs-6':true, 'critical-attack': attack.currentRollToHit >= attack.lowerCriticalRange, 'critical-miss':attack.currentRollToHit == 1}">
                            <div>{{attack.currentTotalToHit}}({{attack.currentRollToHit}}) to hit, {{attack.currentDamage}} damage{{attack.additionalEffects != "" ?  " plus "+attack.additionalEffects : ""}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="character-CMB">
            <div class="col-xs-12">
                <b>CMB:</b> +{{currentMonster.CMB}}(Total:{{currentMonster.currentCMB}}, Roll:{{currentMonster.currentCMBRoll}}) <input type="button" class="roll-attack-group btn btn-secondary btn-sm" ng-click="rollCMB(currentMonster)" value="CMB" />
            </div>
        </div>
        <!--<div class="row" id="character-base-attack">
            <div class="col-xs-12">
                <b>BAB:</b> +{{currentMonster.baseAttack}}
            </div>
        </div>-->
        <div class="row character-header">
            <div class="col-xs-12">
                Additional Info
            </div>
        </div>
        <div class="row character-additional-info" ng-repeat="note in currentMonster.additionalNotes">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div><b>{{note.heading}}</b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div>{{note.value}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row character-header">
            <div class="col-xs-12">
                Statistics
            </div>
        </div>
        <div class="row" id="character-feats">
            <div class="col-xs-12">
                <b>Feats:</b> {{currentMonster.feats}}
            </div>
        </div>
        <div class="row" id="character-skills">
            <div class="col-xs-12">
                <b>Skills:</b> {{currentMonster.skills}}
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="MonsterDisplay/MonsterDisplay.css">