<div class="row" ng-controller="MonsterDisplay">
    <div class="col-xs-9" id="monster-display">
        <div class="row" id="character-heading">
            <div class="col-xs-9">
                <b>{{currentMonster.name}}</b>
            </div>
            <div class="col-xs-3 ">
                <input type="checkbox" ng-model="useStatBlock" value="showDiceHistory"/>Use Stat Block
            </div>
        </div>
        <div class="non-stat-block" ng-show="!useStatBlock">
        <div class="row" id="character-defense">
            <div class="row-height">
                <div class="col-xs-2 col-height monster-display-label">
                    <span>Defense</span>
                </div>
                <div class="col-xs-10 col-height monster-display-content">
                    <span ng-if="currentMonster.AC">AC: {{currentMonster.AC}} </span>
                    <span ng-if="currentMonster.HP">HP: {{currentMonster.HP}} </span>
                    <span ng-if="currentMonster.CMD">CMD: {{currentMonster.CMD}} </span>
                    <span ng-if="currentMonster.defenses">Defenses: {{currentMonster.defenses}} </span>
                </div>
            </div>
        </div>
        <div class="row" id="character-saves">
            <div class="row-height">
                <div class="col-xs-2 col-height monster-display-label">
                    <span>Saves</span>
                </div>
                <div class="col-xs-10 col-height monster-display-content">
                    <span ng-if="currentMonster.fortitude">+{{currentMonster.fortitude}}/</span>
                    <span ng-if="currentMonster.reflex">+{{currentMonster.reflex}}/</span>
                    <span ng-if="currentMonster.will">+{{currentMonster.will}}</span>
                </div>
            </div>
        </div>
        <div class="row" id="character-offense">
            <div class="row-height">
                <div class="col-xs-2 col-height monster-display-label">
                        Offense
                </div>

                <div class="col-xs-10 col-height monster-display-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <span ng-if="currentMonster.speed">Speed: {{currentMonster.speed}} </span>
                            <span ng-if="currentMonster.reach">Reach: {{currentMonster.reach}} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="character-attacks" ng-repeat="group in currentMonster.attacks">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <i>{{group.groupName}}: </i>
                                        <input type="button" class="roll-attack-group btn btn-secondary btn-sm" ng-click="rollAttack(group)" value="Attack" />
                                    </div>
                                </div>
                                <div class="row" ng-repeat="attack in group.groupAttacks">
                                    <div class="col-xs-6">{{attack.name}}
                                        + {{attack.bonusToHit}} ({{attack.diceCount}}d{{attack.diceValue}}
                                        + {{attack.diceBonus}}{{attack.additionalEffects != "" ?  " plus "+attack.additionalEffects : ""}})
                                    </div>
                                    <div ng-class="{'col-xs-6':true, 'critical-attack': attack.currentRollToHit >= attack.lowerCriticalRange, 'critical-miss':attack.currentRollToHit == 1}">
                                        <div>{{attack.currentTotalToHit}}({{attack.currentRollToHit}}) to hit, {{attack.currentDamage}} damage{{attack.additionalEffects != "" ?  " plus "+attack.additionalEffects : ""}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="character-CMB">
                        <div class="col-xs-12">
                            <span ng-if="currentMonster.CMB != 0">
                                CMB: +{{currentMonster.CMB}}(Total:{{currentMonster.currentCMB}}, Roll:{{currentMonster.currentCMBRoll}}) <input type="button" class="roll-attack-group btn btn-secondary btn-sm" ng-click="rollCMB(currentMonster)" value="CMB" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row additional-notes" ng-repeat="notes in currentMonster.monsterAdditionalNotes">
            <div class="row-height">
                <div class="col-xs-2 col-height monster-display-label">
                    <div>{{notes.heading}}</div>
                </div>
                <div class="col-xs-10 col-height monster-display-content" ng-bind-html="notes.value">

                </div>
            </div>
        </div>
        </div>
        <div class="row monster-stat-block additional-notes" ng-show="useStatBlock" ng-repeat="notes in currentMonster.monsterAdditionalNotes">
            <div class="row-height">
                <div class="col-xs-2 col-height monster-display-label">
                    <div>{{notes.heading}}</div>
                </div>
                <div class="col-xs-10 col-height monster-display-content" ng-bind-html="notes.value">
                    <!--<div>{{notes.value}}</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 monster-buttons">
        <div class="row" ng-repeat="monster in monsters">
            <button type=button class="btn btn-secondary monster-button" ng-click="changeMonster(monster.ID)">{{monster.name}}</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="Components/MonsterDisplay/MonsterDisplay.css">