<div class="row" >
    <div class="col-xs-12" id="combat-manager-dice-roller" ng-controller="DiceRoller2">
        <!--Dice Headers-->
        <div class = "row">
            <div class="col-xs-6 bottom-buffer">
                <input type="text" class="form-control " ng-model="customRolls.customRollFormula" placeholder="Custom Dice Roll">
            </div>
            <div class="col-xs-3">
                <input type="button" class="btn btn-danger" ng-click="addDice(customRolls.customRollFormula)" value="Add Dice">
            </div>
        </div>

        <div class="row roll-dice">
            <div class="col-xs-12">
                <div class="row bottom-buffer"  ng-repeat="dice in customRollsButtons track by $index">
                    <div class="col-xs-3">
                        <input type="button" class="btn btn-primary btn-block " ng-click="rollCustomDice($index,dice.label)" value="Roll {{dice.label}}">
                    </div>
                    <div class="col-xs-5">
                        <div class="dice-total">{{dice.diceTotal}}</div>
                    </div>
                    <div class="col-xs-3">
                        <input type="button" class="btn btn-danger pull-right" ng-click="clearDice($index)" value = "Clear">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12" ><!--Button to clear all dice-->
                <input type="button" class="dice-clear-all btn btn-danger pull-right" ng-click="clearAllDice()" value="Clear All Dice"/><!--Button to clear dice roller-->
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="Components/DiceRoller2/DiceRoller2.css">